.userList {
    flex: 4;
}

.userListImg {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.userListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.userListDelete {
    color: red;
    cursor: pointer;
}