.sales {
    flex: 4;
    padding: 20px;
}

.salesTitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.salesFeatured {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.salesCard {
    flex: 1;
    margin: 0px 10px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.salesCardTitle {
    font-size: 20px;
    font-weight: 500;
}

.salesCardContainer {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.salesCardMoney {
    font-size: 30px;
    font-weight: 600;
}

.salesCardRate {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.salesCardRate.negative {
    color: red;
}

.salesCardRate.positive {
    color: green;
}

.salesSub {
    font-size: 15px;
    color: gray;
}

.salesChart {
    margin: 20px 0;
}

.salesWidgets {
    display: flex;
    margin: 20px 0px;
}

.salesWidgetSm {
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: white;
}

.salesWidgetLg {
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.salesWidgetTitle {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.salesWidgetTable {
    width: 100%;
    border-spacing: 0px;
}

.salesWidgetTable th {
    text-align: left;
}

.salesWidgetTable td {
    padding: 10px 0px;
}

.salesName {
    font-weight: 600;
}

.salesDate,
.salesAmount {
    font-weight: 300;
    color: gray;
}

.salesButton {
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.salesButton.Approved {
    background-color: #e5faf2;
    color: #3bb077;
}

.salesButton.Declined {
    background-color: #fff0f1;
    color: #d95087;
}

.salesButton.Pending {
    background-color: #ebf1fe;
    color: #2a7ade;
}

.topProductsList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.topProductItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.topProductItem:last-child {
    border-bottom: none;
}

.productInfo {
    display: flex;
    align-items: center;
}

.productImgContainer {
    width: 30px;
    height: 30px;
    background-color: #5550bd;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    font-weight: bold;
}

.productName {
    font-weight: 600;
}

.productSales {
    font-weight: 600;
    color: #5550bd;
}